* {
    box-sizing: border-box;
    margin: 0;
}

.test {
    background-color: coral;
}

body {
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}

/* Header */

header {
    line-height: 80px;
    background-color: white;
}


#logo  {
    vertical-align: middle;
}

h1 {
    display: inline-block;
    font-size: 50px;
    vertical-align: middle;
}

/* Main - sezione top*/

.container-top {
    width: 70%;
    background-color: white;
    border-radius: 15px 15px 2px 2px;
    margin: 50px auto 2px;
    padding: 15px 50px;
}

.blue-button, .white-button {
    padding: 10px 24px;
    border-radius: 5px;
}

.blue-button {
    background-color: #47adf1;
    color: white;
    border: none;
}

.white-button {
    background-color: white;
    color: dimgray;
    border: solid 1px dimgray;
}

/* Main - sezione bottom */

.container-bottom {
    width: 70%;
    background-color: white;
    border-radius: 2px 2px 15px 15px;
    margin: auto ;
    padding: 15px 50px;
}

ul {
    margin: 25px 0px 25px -60px;
}

li {
    list-style-type: none;
    margin: 20px;
}

li.special {
    font-size: 20px;
}

li.special::before {
    content: "\25BC";
}

li.standard {
    font-size: 14px;
}

li.tick::before {
    content: '\2713';
    margin-right:5px;
    height: 12px;
    width: 12px;
    padding: 4px;
    border-radius: 50%;
    border: 1px solid #66c1aa;
    color: #66c1aa;
}

li.cross::before {
    content: '\2717';
    margin-right: 5px;
    height: 12px;
    width: 12px;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #ec6963;
    color: #ec6963;
}

li.editorial::after {
    content: "Editorial";
    color: white;
    font-size: 10px;
    margin-left: 5px;
    height: 8px;
    width: 12px;
    padding: 6px;
    border-radius: 10px;
    background-color: #45abea;
    vertical-align: middle;
}

li.q1-goals::after {
    content: "Q1 Goals";
    color: white;
    font-size: 10px;
    margin-left: 5px;
    height: 8px;
    width: 12px;
    padding: 6px;
    border-radius: 10px;
    background-color: #9c72e4;
    vertical-align: middle;
}

li.recruiting::after {
    content: "Recruiting";
    color: white;
    font-size: 10px;
    margin-left: 5px;
    height: 8px;
    width: 12px;
    padding: 6px;
    border-radius: 10px;
    background-color: #64c0a9;
    vertical-align: middle;
}

li.mobile::after {
    content: "Mobile";
    color: white;
    font-size: 10px;
    margin-left: 5px;
    height: 8px;
    width: 12px;
    padding: 6px;
    border-radius: 10px;
    background-color: #f29e33;
    vertical-align: middle;
}

li.website::after {
    content: "Website";
    color: white;
    font-size: 10px;
    margin-left: 5px;
    height: 8px;
    width: 12px;
    padding: 6px;
    border-radius: 10px;
    background-color: #d863a1;
    vertical-align: middle;
}

li.sales::after {
    content: "Sales";
    color: white;
    font-size: 10px;
    margin-left: 5px;
    height: 8px;
    width: 12px;
    padding: 6px;
    border-radius: 10px;
    background-color: #b0c926;
    vertical-align: middle;
}