* {
    box-sizing: border-box;
    margin: 0;
}

.test {
    background-color: coral;
}

body {
    background-color: #f6f8f9;
}

/* Header */

header {
    line-height: 80px;
    background-color: white;
}


#logo  {
    vertical-align: middle;
}

h1 {
    display: inline-block;
    font-size: 50px;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
}

/* Main - sezione top*/

.container-top {
    width: 70%;
    background-color: white;
    border-radius: 15px 15px 2px 2px;
    margin: 50px auto 2px;
    padding: 15px 50px;
}

.blue-button, .white-button {
    padding: 10px 24px;
    border-radius: 5px;
}

.blue-button {
    background-color: #47adf1;
    color: white;
    border: none;
}

.white-button {
    background-color: white;
    color: dimgray;
    border: solid 1px dimgray;
}

/* Main - sezione bottom */

.container-bottom {
    width: 70%;
    background-color: white;
    border-radius: 2px 2px 15px 15px;
    margin: auto ;
    padding: 15px 50px;
}

li.special {
    font-size: 20px;
    list-style-type: none;
    margin-left: -40px;
}

li.special::before {
    content: "\25BC";
}

li.standard {
    font-size: 18px;
    list-style-type: none;
    margin-left: -40px;
}